{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h1><a href="{% url 'blog:post_list' %}">Mój blog</a></h1>
        <p>To jest mój blog.<br>
            Znajdziesz na nim {%total_posts%} postów.
        </p>
    </div>
</body>
</html>